In [6]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
#Carga desde un archivo .csv sin indice
data= pd.read_csv('Gastos y costos 20-23.csv')

In [8]:
#Verificamos informaci√≥n del DataFrame
#data.info()
data.head()

,CALOR Y CONTROL S.A DE C.V,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,GASTO,"10,418,042",Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,DEDUCCIONES 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IVA,"1,597,941",NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RET IVA,"198,890",NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RET ISR,"66,040",NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FECHA,FOLIO,UUID,RFC,PROVEEDOR,TIPO GASTO,GASTO,DESCRIPCION,TC,IMPORTE,IVA,RET ISR,RET IVA,TOTAL MX,TOTAL SAT,TIPO,STATUS,POLIZA,Columna1

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3347 entries, 0 to 3346
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CALOR Y CONTROL S.A DE C.V  3344 non-null   object
 1   Unnamed: 1                  3154 non-null   object
 2   Unnamed: 2                  3343 non-null   object
 3   Unnamed: 3                  3343 non-null   object
 4   Unnamed: 4                  3343 non-null   object
 5   Unnamed: 5                  3343 non-null   object
 6   Unnamed: 6                  841 non-null    object
 7   Unnamed: 7                  3343 non-null   object
 8   Unnamed: 8                  2952 non-null   object
 9   Unnamed: 9                  3309 non-null   object
 10  Unnamed: 10                 3075 non-null   object
 11  Unnamed: 11                 3343 non-null   object
 12  Unnamed: 12                 3343 non-null   object
 13   GASTO                      3346 non-null   object
 14  10,418,042                  3346 non-null   object
 15  Unnamed: 15                 3342 non-null   object
 16  Unnamed: 16                 3343 non-null   object
 17  Unnamed: 17                 22 non-null     object
 18  Unnamed: 18                 3343 non-null   object
dtypes: object(19)
memory usage: 496.9+ KB

In [10]:
# Ajustar maximo de filas
pd.options.display.max_rows = None

In [11]:
# Ajustar maximo de columnas
pd.options.display.max_columns = None

In [12]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

CALOR Y CONTROL S.A DE C.V       3
Unnamed: 1                     193
Unnamed: 2                       4
Unnamed: 3                       4
Unnamed: 4                       4
Unnamed: 5                       4
Unnamed: 6                    2506
Unnamed: 7                       4
Unnamed: 8                     395
Unnamed: 9                      38
Unnamed: 10                    272
Unnamed: 11                      4
Unnamed: 12                      4
 GASTO                           1
10,418,042                       1
Unnamed: 15                      5
Unnamed: 16                      4
Unnamed: 17                   3325
Unnamed: 18                      4
dtype: int64

In [13]:
#Reemplazamos valores nulos del dataframe con "bfill"
data1 =data.fillna(method="ffill")

C:\Users\gaboo\AppData\Local\Temp\ipykernel_26364\2690472550.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1 =data.fillna(method="ffill")

In [14]:
#Corroboramos valores nulos del dataframe
valores_nulos=data1.isnull().sum()
valores_nulos

CALOR Y CONTROL S.A DE C.V    0
Unnamed: 1                    4
Unnamed: 2                    4
Unnamed: 3                    4
Unnamed: 4                    4
Unnamed: 5                    4
Unnamed: 6                    4
Unnamed: 7                    4
Unnamed: 8                    4
Unnamed: 9                    4
Unnamed: 10                   4
Unnamed: 11                   4
Unnamed: 12                   4
 GASTO                        0
10,418,042                    0
Unnamed: 15                   4
Unnamed: 16                   4
Unnamed: 17                   4
Unnamed: 18                   4
dtype: int64